https://theory.sinp.msu.ru/doku.php/dlcp2026/proceedings
https://theory.sinp.msu.ru/doku.php/dlcp2026/timetable - section 3 machine learning in environmental science 37. Cloud Base Height Estimation from Stereo Images Using Deep Feature Matching and Temporal Filtering	*Ivan Ustimov 